.green
{
color: green;
}
.blue
{
color: blue;
}
.yellow
{
color: yellow;
}
.red
{
color: red;
}
.orange
{
color: orange;
}
.gras
{
font-weight: bold;
}
.souligne
{
text-decoration: underline;
}
.italique
{
font-style: italic;
}